/* ==========================================================================
    PINK THEME - dark VERSION - I made this one because i like PINK very much ... oo what if i make this one green
    ========================================================================== */

/* Color codes used for dark theme */
$primary-color-dark         : #4b6e2e;
$dark-primary-color-dark    : mix(#000, $primary-color-dark, 40%);
$darker-primary-color-dark  : mix(#000, $primary-color-dark, 60%);
$light-primary-color-dark   : mix(#fff, $primary-color-dark, 30%);

$background-dark            : #364230;
$background-light-dark      : mix(#fff, $background-dark, 20%);
$background-lighter-dark    : mix(#fff, $background-dark, 90%);
$text-dark                  : #afb8ac;
$link-dark-custom           : #eaa6bc;
$link-dark-hover            : mix(#000, $link-dark-custom, 25%);
$link-light-hover           : mix(#fff, $link-dark-custom, 25%);
$footer-dark                : $primary-color-dark;


/* Explicit manual override to Dark Mode */
html[data-theme="dark"] {
  --global-base-color                 : #{$primary-color-dark};
  --global-bg-color                   : #{$background-dark};
  --global-footer-bg-color            : #{$footer-dark};
  --global-border-color               : #{$light-primary-color-dark};
  --global-dark-border-color          : #{$background-light-dark};
  --global-code-background-color      : #242c20;
  --global-code-text-color            : #{$text-dark};
  --global-fig-caption-color          : #{$light-primary-color-dark};
  --global-link-color                 : #{$link-dark-custom};
  --global-link-color-hover           : #{$link-dark-hover};
  --global-link-color-visited         : #{$link-light-hover};
  --global-masthead-link-color        : #{$text-dark};
  --global-masthead-link-color-hover  : #{$primary-color-dark};
  --global-text-color                 : #{$text-dark};
  --global-text-color-light           : #{$light-primary-color-dark};
  --global-thead-color                : #{$background-lighter-dark};
}
