<!-- 
<script type="module" src="{{ base_path }}/assets/js/main.min.js"></script>
-->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var links = document.querySelectorAll("a");
    links.forEach(function(link) {
      if (link.hostname !== window.location.hostname && link.getAttribute("href") && !link.getAttribute("href").startsWith("#")) {
        link.setAttribute("target", "_blank");
        link.setAttribute("rel", "noopener noreferrer");
      }
    });
  });
</script>

{% include analytics.html %}

{% include comments-providers/scripts.html %}
